@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

header p {
  text-align: center;
  margin-top: 20%;
  color: #B92F2C;
}

.movie-cards {
  display: grid;
  justify-content: center;
}

@media screen and (min-width: 320px) {
  .movie-cards {
    grid-template-columns: 280px;
    row-gap: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .movie-cards {
    grid-template-columns: repeat(2, 336px);
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-cards {
    grid-template-columns: repeat(3, 395px);
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 32px;
  }
}
.footer {
  position: absolute;
  height: 100px;
  left: 0px;
  right: 0px;
  top: 2443px;
  background: #F7F7F7;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 79px;
    top: 2522px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    height: 77px;
    top: 2506px;
  }
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #545454;
}
@media screen and (min-width: 768px) {
  .footer-info {
    font-size: 16px;
    line-height: 1.19;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-info {
    padding-top: 29px;
    padding-bottom: 29px;
  }
}
.footer-info__item:first-child {
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .footer-info__item:first-child {
    margin-bottom: 0px;
  }
}

.link-underline {
  text-decoration: underline;
  color: #545454;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-team {
  position: absolute;
  width: 280px;
  height: 1066px;
  top: 50%;
  left: 50%;
  padding: 40px 20px;
  background: #ffffff;
  transform: translate(-50%, -50%) scale(1) rotateY(360deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal-team {
    width: 704px;
    height: 469px;
    padding: 50px 25px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-team {
    width: 815px;
    height: 523px;
    padding: 50px 20px;
  }
}
.backdrop.is-hidden .modal-team {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-right: 8px;
  background-color: #ffffff;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.team-title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;
  color: #000000;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.team-list__item {
  width: calc((100% - 20px) / 2);
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 100px) / 6);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc((100% - 100px) / 6);
  }
}

.team-data {
  text-align: center;
}
.team-data__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.17;
  color: #B92F2C;
}

img {
  margin-left: auto;
  margin-right: auto;
}

.movie-card__image {
  margin-bottom: 10px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .movie-card__image {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-card__image {
    margin-bottom: 12px;
  }
}
.movie-card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #000000;
}
.movie-card__info {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #B92F2C;
}
.movie-card__link {
  color: inherit;
}
.movie-card__release-date {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .movie-card__image {
    width: 280px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .movie-card__image {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-card__image {
    width: 395px;
  }
}
body.show-modal .backdrop {
  opacity: 4;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: visible;
  pointer-events: initial;
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;
  padding: 80px 20px;
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding: 250px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 250px 237px;
  }
}

.modal {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 40px;
}
@media screen and (min-width: 320px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hiden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 10px solid #ddd;
  border-top-color: #B92F2C;
  border-radius: 50%;
  animation: loading 0.5s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}/*# sourceMappingURL=index.css.map */