$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$white-clr: #FFFFFF;
$black-clr: #000000;
$red-clr: #B92F2C;
$hover-red-color: #7a0301; 
$text-color: #545454;
$background-color: #F7F7F7;
$tr-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$tr-delay: 250ms;