<div class="backdrop is-hidden" data-modal-team>
    <div class="modal-team">
        <button class="modal-button" data-modal-team-close>X
            <!-- <svg width="14" height="14">
                <use href=""></use>
            </svg> -->
        </button>

        <h2 class="team-title">Our Team</h2>
        <ul class="team-list">
            <li class="team-list__item">
                <div class="team-photo">
                    <img 
                        srcset="
                            ./images/team/AliohinAnton-113@1.jpg 113w,
                            ./images/team/AliohinAnton-95@1.jpg 95w, 
                            ./images/team/AliohinAnton-80@1.jpg 80w
                        "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 480px) 80px, 100vw"
                        src="./images/team/AliohinAnton-113@1.jpg" 
                        alt="team-member">
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Anton</h3>
                    <h4 class="team-data__name">Aliohin</h4>
                    <p>Developer</p>
                </div>
            </li>
            <li class="team-list__item">
                <div class="team-photo">
                    <img 
                        srcset="
                            ./images/team/Andrey-113@1.jpg 113w,
                            ./images/team/Andrey-95@1.jpg 95w, 
                            ./images/team/Andrey-80@1.jpg 80w
                        "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 480px) 80px, 100vw"
                        src="./images/team/Andrey-113@1.jpg" 
                        alt="team-member">
                </div>  
                <div class="team-data">
                    <h3 class="team-data__name">Andrey</h3>
                    <h4 class="team-data__name">Surname</h4>
                    <p>Developer</p>
                </div>              
            </li>
            <li class="team-list__item">
                <div class="team-photo">
                    <img
                        srcset="
                            ./images/team/BuhaienkoAnastasiia-113@1.jpg 113w,
                            ./images/team/BuhaienkoAnastasiia-95@1.jpg 95w, 
                            ./images/team/BuhaienkoAnastasiia-80@1.jpg 80w
                        "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 480px) 80px, 100vw"
                        src="./images/team/BuhaienkoAnastasiia-113@1.jpg" 
                        alt="Anastasiia Buhaienko"> 
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Anastasiia</h3>
                    <h4 class="team-data__name">Buhaienko</h4>
                    <p>Developer</p>
                </div>   
            </li>
            <li class="team-list__item">
                <div class="team-photo">
                    <img 
                        srcset="
                            ./images/team/GimadeevAnton-113@1.jpg 113w, 
                            ./images/team/GimadeevAnton-95@1.jpg 95w,
                            ./images/team/GimadeevAnton-80@1.jpg 80w
                        "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 480px) 80px, 100vw"
                        src="./images/team/GimadeevAnton-113@1.jpg" 
                        alt="Anton Gimadeev"> 
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Anton</h3>
                    <h4 class="team-data__name">Gimadeev</h4>
                    <p>Developer</p>
                </div>   
            </li>
            <li class="team-list__item">
                <div class="team-photo">
                    <img 
                        srcset="
                            ./images/team/KondratukNikolay-113@1.jpg 113w, 
                            ./images/team/KondratukNikolay-95@1.jpg 95w,
                            ./images/team/KondratukNikolay-80@1.jpg 80w
                        "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 480px) 80px, 100vw"
                        src="./images/team/KondratukNikolay-113@1.jpg" 
                        alt="team-member">                  
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Nikolay</h3>
                    <h4 class="team-data__name">Kondratuk</h4>
                    <p>Developer</p>
                </div> 
            </li>
            <li class="team-list__item">
                <div class="team-photo">
                    <img 
                        srcset="
                            ./images/team/KovrigenkoInna-113@1.jpg 113w, 
                            ./images/team/KovrigenkoInna-95@1.jpg 95w,
                            ./images/team/KovrigenkoInna-80@1.jpg 80w
                        "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 480px) 80px, 100vw"
                        src="./images/team/KovrigenkoInna-113@1.jpg" 
                        alt="team-member"> 
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Inna</h3>
                    <h4 class="team-data__name">Kovrigenko</h4>
                    <p>Developer</p>
                </div> 
            </li>
            <li class="team-list__item">
                <div class="team-photo">
                    <img 
                        srcset="
                            ./images/team/KravchenkoOlha-113@1.jpg 113w, 
                            ./images/team/KravchenkoOlha-95@1.jpg 95w,
                            ./images/team/KravchenkoOlha-80@1.jpg 80w
                        "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 480px) 80px, 100vw"
                        src="./images/team/KravchenkoOlha-113@1.jpg" 
                        alt="team-member"> 
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Olha</h3>
                    <h4 class="team-data__name">Kravchenko</h4>
                    <p>Developer</p>
                </div> 
            </li>
            <li class="team-list__item">
                <div class="team__photo">
                    <img 
                        srcset="
                        ./images/team/PetrukLudmila-113@1.jpg 113w, 
                        ./images/team/PetrukLudmila-95@1.jpg 95w, 
                        ./images/team/PetrukLudmila-80@1.jpg 80w
                    "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 480px) 80px, 100vw"
                        src="./images/team/PetrukLudmila-113@1.jpg" 
                        alt="team-member"> 
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Ludmila</h3>
                    <h4 class="team-data__name">Petruk</h4>
                    <p>Developer</p>
                </div> 
            </li>
            <li class="team-list__item">
                <div class="team-photo">
                    <img 
                        srcset="
                        ./images/team/PostolukKaterina-113@1.jpg 113w, 
                        ./images/team/PostolukKaterina-95@1.jpg 95w, 
                        ./images/team/PostolukKaterina-80@1.jpg 80w
                    "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 480px) 80px, 100vw"
                        src="./images/team/PostolukKaterina-113@1.jpg" 
                        alt="team-member"> 
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Katerina</h3>
                    <h4 class="team-data__name">Postoluk</h4>
                    <p>Developer</p>
                </div> 
            </li>
            <li class="team-list__item">
                <div class="team-photo">
                    <img 
                        srcset="
                        ./images/team/PrutukaDmytro-113@1.jpg 113w, 
                        ./images/team/PrutukaDmytro-95@1.jpg 95w,
                        ./images/team/PrutukaDmytro-80@1.jpg 80w
                    "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 480px) 80px, 100vw"
                        src="./images/team/PrutukaDmytro-113@1.jpg" 
                        alt="team-member"> 
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Dmytro</h3>
                    <h4 class="team-data__name">Prutuka</h4>
                    <p>Developer</p>
                </div> 
            </li>
            <li class="team-list__item">
                <div class="team-photo">
                    <img 
                        srcset="
                        ./images/team/TomachenkoIrina-113@1.jpg 113w, 
                        ./images/team/TomachenkoIrina-95@1.jpg 95w,
                        ./images/team/TomachenkoIrina-80@1.jpg 80w
                    "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 480px) 80px, 100vw"
                        src="./images/team/TomachenkoIrina-113@1.jpg" 
                        alt="team-member"> 
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Irina</h3>
                    <h4 class="team-data__name">Tomachenko</h4>
                    <p>Developer</p>
                </div>
            </li>
        </ul>
    </div>

</div>



<footer class="footer">
    <div class="container">
        <div class="footer-info">
            <p class="footer-info__item">&copy; 2023 &#8739; All Rights Reserved &#8739;</p>
            <p class="footer-info__item">Developed with &#128150; by <a href="" class="link-underline" data-modal-team-open>GoIT Students</a></p>
            
        </div>
    </div>
</footer>