<div class="backdrop is-hidden" data-modal-team>
    <div class="modal-team"></div>
    
    <button class="modal-button" data-modal-team-close>X
        <!-- <svg width="14" height="14">
            <use href=""></use>
        </svg> -->
    </button>

    </div>
</div>



<footer class="footer">
    <div class="container">
        <div class="footer-info">
            <p class="footer-info__item">&copy; 2023 &#8739; All Rights Reserved &#8739;</p>
            <p class="footer-info__item">Developed with &#128150; by <a href="" class="link-underline" data-modal-team-open>GoIT Students</a></p>
            
        </div>
    </div>
</footer>