<header>
  <div class="container header">
    <nav class="headermenu">
      <ul class="headermenu__list">
        <li><button type="button" class="headermenu__item headermenu__current home_button">Home</button></li>
        <li><button type="button" class="headermenu__item library_button">My library</button></li>
      </ul>
      <form class="search-form" id="search-form">
        <input
          type="text"
          name="query"
          autocomplete="off"
          placeholder="Movie search"
        />
      </form>
      <ul class="headermenu__buttons library__buttons">
        <li><button type="button" class="headermenu__button headermenu__current">Watched</button></li>
        <li><button type="button" class="headermenu__button">Queue</button></li>
      </ul>
    </nav>
    <a><div class="title">
      <svg class="logo" width="26.67px" height="26.67px"><use href="/src/images/logo/logo_mob_1x.png"></use></svg>
      <picture>
        <source
            media="(max-width: 767px)"
            srcset="/src/images/logo/logo_mob_1x.png">
        <source
            media="(max-width: 1179px)"
            srcset="/src/images/logo/logo_tab_1x.png">
        <source
            srcset="/src/images/logo/logo_desktop_1x.png">     
        <img src="/src/images/logo/logo_desktop_1x.png" alt="Logo Filmoteka">
    </picture>
      <p class="title_text">Filmoteka</p>
    </div>
    </a>
  </div>
</header>
