

<div class="backdrop-team is-hidden-backdrop-team" data-modal-team>
    <div class="modal-team">
        <button class="modal-team-button" data-modal-team-close>
            <img src="./images/team/close-black.svg" alt="close modal button">
        </button>

    
        <h2 class="team-title">Our Team</h2>
        <ul class="team-list">
            <li class="team-list__item">
                <div class="team-photo">
                    <img 
                        srcset="
                        ./images/team/DmitriyPrytyka-113@1.jpg 113w, 
                        ./images/team/DmitriyPrytyka-95@1.jpg 95w,
                        ./images/team/DmitriyPrytyka-80@1.jpg 80w
                    "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 320px) 80px, 100vw"
                        src="./images/team/DmitriyPrytyka-113@1.jpg" 
                        alt="Dmitriy Prytyka"> 
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Dmitriy</h3>
                    <h4 class="team-data__name">Prytyka</h4>
                    <p>Team Lead</p>
                </div> 
            </li>
            <li class="team-list__item">
                <div class="team-photo">
                    <img 
                        srcset="
                            ./images/team/HimadieievRuslan-113@1.jpg 113w, 
                            ./images/team/HimadieievRuslan-95@1.jpg 95w,
                            ./images/team/HimadieievRuslan-80@1.jpg 80w
                        "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 320px) 80px, 100vw"
                        src="./images/team/HimadieievRuslan-113@1.jpg" 
                        alt="Ruslan Himadieiev"> 
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Ruslan</h3>
                    <h4 class="team-data__name">Himadieiev</h4>
                    <p>Scrum Master</p>
                </div>   
            </li>
            <li class="team-list__item">
                <div class="team-photo">
                    <img 
                        srcset="
                            ./images/team/KovrigenkoInna-113@1.jpg 113w, 
                            ./images/team/KovrigenkoInna-95@1.jpg 95w,
                            ./images/team/KovrigenkoInna-80@1.jpg 80w
                        "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 320px) 80px, 100vw"
                        src="./images/team/KovrigenkoInna-113@1.jpg" 
                        alt="team-member"> 
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Inna</h3>
                    <h4 class="team-data__name">Kovrigenko</h4>
                    <p>Developer</p>
                </div> 
            </li>
            <li class="team-list__item">
                <div class="team-photo">
                    <img 
                        srcset="
                            ./images/team/OlgaKravchenko-113@1.jpg 113w, 
                            ./images/team/OlgaKravchenko-95@1.jpg 95w,
                            ./images/team/OlgaKravchenko-80@1.jpg 80w
                        "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 320px) 80px, 100vw"
                        src="./images/team/OlgaKravchenko-113@1.jpg" 
                        alt="Olga Kravchenko<"> 
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Olga</h3>
                    <h4 class="team-data__name">Kravchenko</h4>
                    <p>Developer</p>
                </div> 
            </li>
            <li class="team-list__item">
                <div class="team-photo">
                    <img 
                        srcset="
                            ./images/team/AliohinAnton-113@1.jpg 113w,
                            ./images/team/AliohinAnton-95@1.jpg 95w, 
                            ./images/team/AliohinAnton-80@1.jpg 80w
                        "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 320px) 80px, 100vw"
                        src="./images/team/AliohinAnton-113@1.jpg" 
                        alt="team-member">
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Anton</h3>
                    <h4 class="team-data__name">Aliohin</h4>
                    <p>Developer</p>
                </div>
            </li>
            <li class="team-list__item">
                <div class="team-photo">
                    <img 
                        srcset="
                            ./images/team/AndreyEvsyukov-113@1.jpg 113w,
                            ./images/team/AndreyEvsyukov-95@1.jpg 95w, 
                            ./images/team/AndreyEvsyukov-80@1.jpg 80w
                        "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 320px) 80px, 100vw"
                        src="./images/team/AndreyEvsyukov-113@1.jpg" 
                        alt="Andrey Evsyukov">
                </div>  
                <div class="team-data">
                    <h3 class="team-data__name">Andrey</h3>
                    <h4 class="team-data__name">Evsyukov</h4>
                    <p>Developer</p>
                </div>              
            </li>

            <li class="team-list__item">
                <div class="team-photo">
                    <img 
                        srcset="
                            ./images/team/HebeskulDmytro-113@1.jpg 113w,
                            ./images/team/HebeskulDmytro-95@1.jpg 95w, 
                            ./images/team/HebeskulDmytro-80@1.jpg 80w
                        "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 320px) 80px, 100vw"
                        src="./images/team/HebeskulDmytro-113@1.jpg" 
                        alt="Dmytro Hebeskul">
                </div>  
                <div class="team-data">
                    <h3 class="team-data__name">Dmytro</h3>
                    <h4 class="team-data__name">Hebeskul</h4>
                    <p>Developer</p>
                </div>              
            </li>
            <li class="team-list__item">
                <div class="team-photo">
                    <img
                        srcset="
                            ./images/team/BuhaienkoAnastasiia-113@1.jpg 113w,
                            ./images/team/BuhaienkoAnastasiia-95@1.jpg 95w, 
                            ./images/team/BuhaienkoAnastasiia-80@1.jpg 80w
                        "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 320px) 80px, 100vw"
                        src="./images/team/BuhaienkoAnastasiia-113@1.jpg" 
                        alt="Anastasiia Buhaienko"> 
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Anastasiia</h3>
                    <h4 class="team-data__name">Buhaienko</h4>
                    <p>Developer</p>
                </div>   
            </li>
            <li class="team-list__item">
                <div class="team__photo">
                    <img 
                        srcset="
                        ./images/team/LyudmylaPetruk-113@1.jpg 113w, 
                        ./images/team/LyudmylaPetruk-95@1.jpg 95w, 
                        ./images/team/LyudmylaPetruk-80@1.jpg 80w
                    "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 320px) 80px, 100vw"
                        src="./images/team/LyudmylaPetruk-113@1.jpg" 
                        alt="Lyudmyla Petruk"> 
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Lyudmyla</h3>
                    <h4 class="team-data__name">Petruk</h4>
                    <p>Developer</p>
                </div> 
            </li>
            <li class="team-list__item">
                <div class="team-photo">
                    <img 
                        srcset="
                            ./images/team/NikolayKondratyuk-113@1.jpg 113w, 
                            ./images/team/NikolayKondratyuk-95@1.jpg 95w,
                            ./images/team/NikolayKondratyuk-80@1.jpg 80w
                        "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 320px) 80px, 100vw"
                        src="./images/team/NikolayKondratyuk-113@1.jpg" 
                        alt="Nikolay Kondratyuk">                  
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Nikolay</h3>
                    <h4 class="team-data__name">Kondratyuk</h4>
                    <p>Developer</p>
                </div> 
            </li>


            <!-- <li class="team-list__item">
                <div class="team-photo">
                    <img 
                        srcset="
                        ./images/team/PostolukKaterina-113@1.jpg 113w, 
                        ./images/team/PostolukKaterina-95@1.jpg 95w, 
                        ./images/team/PostolukKaterina-80@1.jpg 80w
                    "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 320px) 80px, 100vw"
                        src="./images/team/PostolukKaterina-113@1.jpg" 
                        alt="team-member"> 
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Katerina</h3>
                    <h4 class="team-data__name">Postoluk</h4>
                    <p>Developer</p>
                </div> 
            </li>
            <li class="team-list__item">
                <div class="team-photo">
                    <img 
                        srcset="
                        ./images/team/IrinaTomashenko-113@1.jpg 113w, 
                        ./images/team/IrinaTomashenko-95@1.jpg 95w,
                        ./images/team/IrinaTomashenko-80@1.jpg 80w
                    "
                        sizes="(min-width: 1200px) 113px, (min-width: 768px) 95px, (min-width: 320px) 80px, 100vw"
                        src="./images/team/IrinaTomashenko-113@1.jpg" 
                        alt="IrinaTomashenko"> 
                </div>
                <div class="team-data">
                    <h3 class="team-data__name">Irina</h3>
                    <h4 class="team-data__name">Tomashenko</h4>
                    <p>Developer</p>
                </div>
            </li> -->
        </ul>
    </div>

</div>
