.movie-card {
  display: grid;
  justify-content: center;
}

@media screen and (min-width: 320px) {
  .movie-card {
    grid-template-columns: 280px;

    row-gap: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .movie-card {
    grid-template-columns: 336px 336px;
    column-gap: 32px;
    row-gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .movie-card {
    grid-template-columns: 395px 395px 395px;
    column-gap: 16px;
    row-gap: 32px;
  }
}
